.App {
  text-align: center;
}

.grid{
  display:grid;
  grid-template-columns: repeat(9, 1fr);
  margin-left: 5%;
  margin-right: 5%; 
}

.row{

}

.cell{
  cursor: pointer;
  border: 1px solid black;
}

.cell-alive{
  background-color: green;
  color: green;
}

.cell-dead{
  background-color: red;
  color:red;
}