.App {
  text-align: center;
}

.grid{
  display:grid;
  grid-template-columns: repeat(9, 1fr);
  margin-left: 10%;
  margin-right: 10%;
   
}

.button-arena{
  padding-top: 2%;
  width: 100%;
}

.slider-arena{
  
}

.cell{
  cursor: pointer;
  border: 1px solid black;
}

.cell-alive{
  background-color: green;
  color: green;
}

.cell-dead{
  background-color: red;
  color:red;
}